{% extends "layout.html" %}

{% block head %}
    <div class="side-text">
        <p><a class="login-reference" href="/login">Login</a></p>
    </div>
{% endblock %}

{% block body %}
    <h1 class="title-h1">Register</h1>
    <div class="login-form">
        <form action="/register" method="post">
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
            <input name="password" placeholder="Password" type="password">
            <input name="confirmation" placeholder="Password Confirmation" type="password">
            <button class="button-login-form" type="submit">Register</button>
        </form>
        {% if error %}
            <div class="login-error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}